@font-face {
    font-family: Charlie-Serif;
    src: url(assets/font/HungryCharlie-Serif.ttf);
}

*,
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid black;
    --peach-crayola: #f7c59fff;
    --space-cadet: #2a324bff;
    --rhythm: #767b91ff;
    --light-periwinkle: #c7ccdbff;
    --alice-blue: #e1e5eeff;
    font-family: Charlie-Serif;
    font-size: 16px;
}

.container {
    background-color: var(--pale-cerulean);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 5fr;
    gap: 1px;
    background-color: var(--alice-blue);
}

.side-bar {
    grid-row-start: 1;
    grid-row-end: -1;
    display: grid;
    gap: 1px;
    background-color: var(--space-cadet);
}

.header {
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: var(--alice-blue);
}

.main-content {
    background-color: var(--light-periwinkle);
}