*,html{
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid black;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 5fr;
}
.side-bar{
    grid-row-start: 1;
    grid-row-end: -1;
}
.header{
    grid-column-start: 2;
    grid-column-end: -1;
}