@font-face {
    font-family: Charlie-Serif;
    src: url(assets/font/HungryCharlie-Serif.ttf);
}

*,
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    border: 1px solid black;
    --lavender-web: #e5e1eeff;
    --light-cyan: #dffdffff;
    --pale-cerulean: #90bedeff;
    font-family: Charlie-Serif;
    font-size: 16px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 5fr;
    gap: 1px;
}

.side-bar {
    grid-row-start: 1;
    grid-row-end: -1;
    display: grid;
    gap: 1px;
}

.header {
    grid-column-start: 2;
    grid-column-end: -1;
}